# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.classpath
*.project
*.settings/

# Spring Boot
application-local.properties

# OS
.DS_Store
Thumbs.db
